# MLOps and Data Versioning
dvc==3.50.2
dvc-gs==3.0.2

# Google Cloud Platform SDKs
# THIS IS THE KEY FIX: The 'hypertune' module is in this separate, lightweight package.
# We are replacing the giant 'google-cloud-aiplatform' with this.
cloudml-hypertune

# We still need google-cloud-storage for the DVC backend to function.
google-cloud-storage==2.14.0

# ML Framework and Experiment Tracking
tensorflow==2.15.0
wandb==0.16.6

# Standard Data Science Toolkit
numpy
pandas
matplotlib
scikit-learn